.scrollable-gallery {
	overflow: hidden;
	position: relative;

	
}
.scrollable-gallery-inner-container {
	display: flex;

	&[data-direction="left"] {
		animation: marquee-left 25s linear infinite;
	}

	&[data-direction="right"] {
		animation: marquee-right 25s linear infinite;
	}

	a {
		object-fit: cover;
		height: 100%;
		min-width: 8vw;
		max-width: 8vw;
		&:not(:last-child) {
			padding-right: 10vw;
		}
	}
	img {
		object-fit: cover;
		height: 100%;
		min-width: 8vw;
		max-width: 8vw;
		&:not(:last-child) {
			padding-right: 10vw;
		}
	}
}

@keyframes marquee-left {

	100% {
		transform: translateX(calc(-2.252  * var(--total-container-transform)));
	}
}

@keyframes marquee-right {
	0% {
		transform: translateX(calc(-2.252  * var(--total-container-transform)));
	}
}
